@tailwind base;
@tailwind components;
@tailwind utilities;

img.avatar {
    max-width: 200px;
}

a {
    text-decoration: none;
}

/* JOBBER PAGE */
.card-jobber {
    transition: transform .2s ease-out;
}
.card-jobber:hover {
    transform: translate(0, -10px);
}


/* HOME PAGE */
.collapse {
    visibility: visible!important;
}

.card-img {
    overflow: hidden;
}
.card-img img {
    display: block;
    transition: transform .2s; /* Animation */
}
.card-img:hover img {

    transform: scale(1.1);

}