{% extends 'base.html.twig' %}

{% block title %}Hello JobberController!{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-5xl text-center mt-24 mb-8">Blog</h1>
    <div class="flex flex-row flex-wrap mt-8 justify-evenly">

        {% for user in users %}
            <div class="flex justify-center m-3">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
                <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" alt=""/>
                </a>
                <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">{{ user.firstname }}</h5>
                <p class="text-gray-700 text-base mb-4">{{ user.city }}</p>
                <p class="text-gray-700 text-base mb-4 italic">
                    {{ user.presentation }}
                </p>
                <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button>
                </div>
            </div>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
